# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
StyleCop.Cache
Thumbs.db
~$*
*.log
*.sqlsuo
*.orig
*.sqlsuo
.DS_Store*
xcuserdata/
project.xcworkspace/
build/
Macs/src/Client/src/Macs/Frameworks/Crashlytics.framework/
src/Client/src/Macs/Frameworks/Crashlytics.framework/
src/Client/src/*.DS_Store
src/Client/src/SNSync/*.DS_Store
src/Client/src/SNSync/SNSync/*.DS_Store
src/Client/src/*.xcworkspace
src/Client/src/Pods/**
src/Client/src/*.lock
src/Client/src/SNSync/Pods/**
src/Client/src/SNSync/*.workspace
src/Client/src/SNSync/*.lock
src/Client/src/MultipartDownload/*.DS_Store
src/Client/src/MultipartDownload/MultipartDownload/*.DS_Store
src/Client/src/MultipartDownload/Pods/**
src/Client/src/MultipartDownload/*.workspace
src/Client/src/MultipartDownload/*.lock